<div id="trebuchet">
	<h1>Trebuchet Admin</h1>
	<table class="treb-features">
		<thead>
			<tr>
				<th>Feature Name</th>
				<th>Launch Strategy</th>
				<th>Strategy History</th>
			</tr>
		</thead>
		<tbody>
			<% @features.each do |feature| %>
				<%- has_history = feature.history.length > 0 %>
				<tr>
					<td><%= feature.name %></td>
					<td><%= strategy feature.strategy %></td>
					<% if has_history %>
						<td>
							<a class="history-toggle" href="#">History</a>
						</td>
					<% end %>
				</tr>
				<% if has_history %>
				<tr>
					<td class="unstyled collapsed treb-features-history-wrapper" colspan="2">
						<table class="treb-features treb-features-history well">
							<% feature.history.each do |time, strategy| %>
							  <tr><td><%= @zone.at(time.to_i).strftime("%x %X %Z") %><br /><%= strategy strategy %></td></tr>
							<% end %>
						</table>
					</td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<br />
	<br />
	<table class="treb-features">
		<thead>
			<tr>
				<th>Dismantled Features</th>
				<th>Strategy History</th>
			</tr>
		</thead>
		<tbody>
			<% @dismantled_features.each do |feature| %>
			  <%- has_history = feature.history.length > 0 %>
				<tr>
					<td style="text-decoration: line-through"><%= feature.name %></td>
					<% if has_history %>
						<td>
							<a class="history-toggle" href="#">History</a>
						</td>
					<% end %>
				</tr>
				<% if has_history %>
				<tr>
					<td class="unstyled collapsed treb-features-history-wrapper" colspan="1">
						<table class="treb-features treb-features-history well">
							<% feature.history.each do |time, strategy| %>
							  <tr><td><%= @zone.at(time.to_i).strftime("%x %X %Z") %><br /><%= strategy strategy %></td></tr>
							<% end %>
						</table>
					</td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
	(function(undefined) {
		var trebFeatures = $('.treb-features');
		trebFeatures.on('click', '.history-toggle', function(e) {
			var $target = $(e.target);

			$target.parents('tr').next().
				find('.treb-features-history-wrapper').toggleClass('collapsed');
			e.preventDefault();
		});
	})();
</script>
